* linguist-vendored
* linguist-detectable=false
**/* linguist-vendored
**/* linguist-detectable=false

*.java linguist-vendored=false
*.java linguist-detectable=true
**/*.java linguist-vendored=false
**/*.java linguist-detectable=true

*.md linguist-documentation=true
**/*.md linguist-documentation=true
